{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Bienvenido a about</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen.JPG" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}